<main class="container">
  <% if @currencies.blank? %>
    <div class="header">
      <p>No Exchange rates available for <%= @day_of_week %></p>
    <div>
  <% else %>
    <div class="header"><h3>Valid for <%= @day_of_week %></h3></div>
    <div class="currency">
      <table>
        <thead>
          <tr>
            <th>Country</th>
            <th>Currency</th>
            <th>Amount</th>
            <th>Code</th>
            <th>Rate</th>
          </tr>
        </thead>
        <tbody>
          <% @currencies.each do |currency| %>
            <%= render currency %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</main>
