<main class="container">
  <% if @currencies.blank? %>
    <div class="header">
      <p>No Exchange rates available for <%= @day_of_week %></p>
    <div>
  <% else %>
    <div class="header"><h3>Valid for <%= @day_of_week %></h3></div>
    <div>
      <%= turbo_stream_from "currencies" %>
      <table>
        <thead>
          <tr>
            <th>Country</th>
            <th>Currency</th>
            <th>Amount</th>
            <th>Code</th>
            <th>Rate</th>
          </tr>
        </thead>
        <tbody id="currencies" is="turbo-frame">
          <%= render @currencies %>
        </tbody>
      </table>
    </div>
  <% end %>
</main>
